@import 'variables';

body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: $grey;
}

h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;      
  font-size: 20px;
  color: $black;
}

footer {
  background-color: #2d2d30;
  color: $white;
  padding: 32px;
  width: 100%;
}

footer a {
  color: $white;
}

footer a:hover {
  color: $light-grey;
  text-decoration: none;
}  

textarea {
  resize: none;
}

#test {
  height: 1000px;
}

@import 'App';
