// device sizes
$device-sm: 576px;
$device-md: 768px;
$device-lg: 992px;
$device-xlg: 1200px;

// space
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xlg: 32px;
$space-xxlg: 48px;

// font
$font-sm: 12px;
$font-md: 16px;
$font-lg: 24px;
$font-xlg: 36px;

//color
$white: #fff;
$light-white: #f1f1f1;
$light-grey: #d5d5d5;
$middle-grey: #BDBDBD;
$grey: #777;
$black: #111;